@import 'tailwindcss';
@import './fonts.css';

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-display: Lexend, ui-sans-serif, system-ui, sans-serif;
  
  --font-size-xs: 0.75rem;
  --font-size-xs--line-height: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.5rem;
  --font-size-base: 1rem;
  --font-size-base--line-height: 2rem;
  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 1.75rem;
  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 2rem;
  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 2.5rem;
  --font-size-3xl: 2rem;
  --font-size-3xl--line-height: 2.5rem;
  --font-size-4xl: 2.5rem;
  --font-size-4xl--line-height: 3rem;
  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 3.5rem;
  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1;
  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1;
  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1;
  --font-size-9xl: 8rem;
  --font-size-9xl--line-height: 1;
  
  --max-width-8xl: 88rem;
}
