.map-style-selector {
  position: absolute;
  top: 10px;
  left: 54px;
  height: 32px;

  z-index: 1000;

  padding: 3px 2px 4px 4px;
  margin: 0;

  border-radius: 6px;
  border: 1px solid black;
  font-size: 16px;
  font-weight: bold;

  option * {
    font-size: 16px;
  }
}
