### Java / Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### Javascript / NPM ###
logs
*.log
npm-debug.log*
node_modules
dist
dist-ssr
*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### IntelliJ Fleet ###
.fleet

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Batect ###
**/.batect/caches/

### Misc ###
.DS_Store
.volumes/

qodana.yaml

/**/*.js
!src/workers/**/*.js

/**/*.js
!src/workers/**/*.js