.error-info {
  display: none;
  padding: 8px;
  position: absolute;
  inset: 0;
  top: 0;
  background-color: red;
  color: white;
  font-size: 1.1rem;
  z-index: 1000;
  letter-spacing: 0.05em;
  text-align: center;
  margin: 0;
  height: fit-content;
}

.error-level-2 {
  display: block;
  background-color: red;
  color: white;
}

.error-level-3 {
  display: block;
  background-color: crimson;
  color: white;
}
