.custom-dropdown::before {
  content: '';
  display: inline-block;
  background: url('filter-icon.svg') no-repeat center;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0.75rem;
}

.custom-dropdown {
  padding-left: 2.5rem;
  color: gray;
}

.custom-dropdown:not([value='']) {
  color: black;
}
