.map-wrap {
    position: relative;
    width: 100%;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-style-selector {
  position: absolute;
  top: 10px;
  left: 54px;
  z-index: 1000;
  padding: 4px;
  border-radius: 6px;
  border: 0.3px solid darkgray;
  font-size: 16px;
  option * {
    padding: 4px;
    font-size: 16px;
  }
}

.tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid darkgrey;
  font-weight: lighter;
}

.mapboxgl-ctrl-group {
  border-radius: 6px;
  border: 0.3px solid darkgray;
  box-shadow: none;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none;
}