.tooltip {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  background-color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid darkgrey;
  font-weight: lighter;
}

.mapboxgl-ctrl-group {
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: none;
}

.mapboxgl-ctrl-group:not(:empty) {
  box-shadow: none;
  button {
    width: 30px;
  }
}
