.FreshwaterManagementUnit {
  font-family: "Courier New", serif;
  overflow-y: auto;

  .about-link a {
    cursor: pointer;
  }

  h1 {
    font-weight: bold;
    font-size: 2.0em;
    margin-bottom: 1.1rem;
  }

  h2 {
    margin-bottom: 1.6rem;
    margin-top: 1.2em;
    font-weight: bold;
    font-size: 1.2em;
  }

  h3 {
    font-weight: bold;
    margin-top: 1.5em !important;
    margin-bottom: 0.6em !important;
  }

  a[text="About^"] {
    color: blue;
  }

  p {
    font-size: 1.1em;
    margin-bottom: 1em;
  }

  .tangata-whenua {
    background-color: white;
    color: black !important;
    padding: 14px 16px;
    margin: 2.5em 0;
    font-size: 1em;

    .tangata-whenua-sites {
      ul {
        list-style-position: inside;
        padding-left: 1.5em;

        li {
          margin-left: -1.5em;
          padding-left: 1.5em;
          text-indent: -1.5em;
        }
      }
    }

    .contaminants {
      margin-top: 1.2em;

      .contaminant {
        ol, ul {
          list-style-type: none !important;
          padding-left: 0;

          li {
            font-size: 1em;
            padding-left: 0;
            margin-left: 0;
            text-indent: 0;
          }
        }
      }
    }
  }
}

