@media (max-width: 640px) {
  @keyframes slideIn {
    0% {
      bottom: -100%; /* Start from the bottom, outside of the view */
    }
    100% {
      bottom: 0; /* End at the bottom edge of the container */
    }
  }

  .info-panel {
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -50%;
    transition: bottom 0.5s ease-in-out;
  }

  .animate-in {
    bottom: 0;
  }

  .animate-out {
    bottom: -100%;
  }
}

@media (min-width: 641px) {
  @keyframes slideIn {
    0% {
      right: -100%; /* Start from the right, outside of the view */
    }
    100% {
      right: 0; /* End at the right edge of the container */
    }
  }

  .info-panel {
    position: absolute;
    width: 33.333%;
    height: 100%;
    right: -100%; // Initially off-screen
    transition: right 0.5s ease-in-out;
    border-left: 8px solid white;
  }

  .animate-in {
    right: 0;
  }

  .animate-out {
    right: -100%;
  }
}

.map-page {
  max-height: 600px;
}

.map-container {
  border: none;
  border-radius: 10px !important;
}

.mapboxgl-map {
  border-radius: 10px;
}

.freshwaterManagementUnit {
  border-radius: 0 10px 10px 0;
}

@keyframes pulsate {
  0% {
    transform: translateX(0);
    opacity: 1;
    background-color: #ffffff;
  }
  50% {
    transform: translateX(0.1em);
    opacity: 0.8;
    background-color: #f0f0f1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    background-color: #ffffff;
  }
}


.pulsate {
  animation: pulsate 0.5s ease-in-out;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 14px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  font-family: "Helvetica Neue", sans-serif;
}
